<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12">
            <button type="button" class="btn btn-default btn-block" ng-click="ctrl.move('up')">
                <span class="glyphicon glyphicon-arrow-up"></span>
            </button>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-6">
            <button type="button" class="btn btn-default btn-block" ng-click="ctrl.move('left')">
                <span class="glyphicon glyphicon-arrow-left"></span>
            </button>
        </div>
        <div class="col-xs-6">
            <button type="button" class="btn btn-default btn-block" ng-click="ctrl.move('right')">
                <span class="glyphicon glyphicon-arrow-right"></span>
            </button>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <button type="button" class="btn btn-default btn-block" ng-click="ctrl.move('down')">
                <span class="glyphicon glyphicon-arrow-down"></span>
            </button>
        </div>
    </div>
</div>